.main{
    background-color:  rgb(241, 245, 245);
    width: 95%;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;

    min-height: 92vh;
}


.main a{
    text-decoration: none;
    color: inherit;
}